<FilesMatch "\.?htaccess$">
 order allow,deny
 deny from all
</FilesMatch>

<FilesMatch "\.?txt$">
 order allow,deny
 deny from all
</FilesMatch>

RewriteEngine On

# Redirect all requests to the public directory
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]

# Disable directory browsing
Options -Indexes
